@font-face{
    font-family: averta;
    src: url(/traveler-airlines/public/fonts/Averta/WEB/AvertaDemoPE-Regular.woff);
}

:root{
    font-size: 16px;
    --color-principal: rgba(255, 255, 255, .9);
    --color-secundario: rgba(73, 110, 165, .9);
}

main{
    font-family: averta;
}

main h2{
    font-family: var(--fuente);
    text-transform: uppercase;
}

main .cajaCuenta{
    box-shadow: 5px 5px 15px rgba(39, 46, 53, 0.651);
    border-radius: 15px;
    width: 900px;
}

main .imagenUsuario{
    background-color: var(--color-secundario);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

main .contenedorImg{
    border-radius: 50%;
}

main .imagenUsuario img{
    border: 2px solid white;
    border-radius: 150px;
    padding: 4px;
    margin-left: 5px;
    margin-top: 100px;
}

main .formulario{
    background-color: var(--color-principal);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

main .formulario, label{
    font-size: 16px;
    font-weight: bold;
    font-family: var(--fuente);
    padding-left: 1px;
}

main .imagenUsuario h2{
    color:black;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: #ffff;
    text-shadow: 2px 2px black;
}

main .divisor{
    border: 1px solid var(--color-secundario);
}

main .formulario button{
    border-radius: 15px;
}