@font-face{
    font-family: averta;
    src: url(/traveler-airlines/public/fonts/Averta/WEB/AvertaDemoPE-Regular.woff);
}

:root{
    font-size: 16px;
    --color-ejecutiva: rgb(230, 198, 22);
    --color-fondo-ejecutiva: rgba(230, 199, 22, 0.24);
    --color-turista: rgb(46, 69, 201);
    --color-fondo-turista: #507dbc71;;
}

main{
    font-family: averta;
}

main .mainContainer{
    margin-top: -3rem;
    padding: 1rem;
    transform: scale(0.85);
}

main .childContainer{
    width: 90%;
    border-radius: .7rem;
    background-color: rgba(139, 139, 139, 0.027);
    box-shadow: 0 2px 5px rgba(34, 34, 34, 0.808);
}

main .titulo{
    color: #222c69;
}

main .linea-divisora{
    border-top: .8rem double #222c69;;
}

main .ClaseVuelo .Clase,
main .InfoVuelo .Info,
main .Pasajeros,
main .CostoVuelo{
    margin: 0 1rem;
}

main .ClaseVuelo .Clase{
    margin-top: 1rem;
    background-color: #507dbc71;
}

main .ClaseVuelo .Clase::before{
    content: "";
    height: 100%;
    padding: 1px 3px;
    background-color: var(--color-turista);
}

main .ClaseVuelo .Clase span{
    color: var(--color-turista);
}


main .InfoVuelo .Info{
    background-color: #a1c6ea71;
    padding: 1rem;
}

main .InfoVuelo .BarraTiempo{
    background-color: #004990;
    height: 2px;
    position: relative;
    width: 100%;
    margin: 10px;
}

main .InfoVuelo .BarraTiempo::after{
    right: -2px;
}

main .InfoVuelo .BarraTiempo::before,
main .InfoVuelo .BarraTiempo::after{
    background-color: #4474ce;
    border-radius: 50%;
    content: "";
    height: 6px;
    position: absolute;
    top: -2px;
    width: 6px;
}

main .InfoVuelo .hora-localidad{
    width: 2.5rem;
    font-weight: bold;
}

main .Pasajeros{
    background-color: #bbd1ea71;
    padding: 1rem;
}

main .CostoVuelo{
    background-color: #DAE3E571;
    padding: 1rem;
    margin-bottom: 1rem;
}

main .btnPagar{
    width: 14rem;
    color: #253083;
    font-weight: bold;
    background: transparent;
    border: 2px solid #253083;
    border-radius: 0;
    padding: 7px 26px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #253083;
    -webkit-transition: ease-out 0.8s;
    -moz-transition: ease-out 0.8s;
    transition: ease-out 0.4s;
    border-radius: .5rem;
}

main .btnPagar:hover{
    box-shadow: inset 400px 0 0 0 #253083;
    color: white;
}

main .btnPagar:focus{
    outline: none;
}

main a{
    color: black;
    text-decoration: none;
}